@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ---------------------------------- */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="range"] {
  cursor: pointer;
  overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  /* background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5); */
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  background-size: cover;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

/* Player */

.player {
  width: 200px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.play-list {
  text-align: left;
  padding-bottom: 5px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  transition: .3s;
  display: flex;
  justify-content: space-between;
  width: 200px;
  cursor: pointer;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active {
  color: #C5B358;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.play-item-btn {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

.play-item-pause {
  background-image: url("../assets/svg/pause-active.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

/* Advanced player */

.time-line {
  display: flex;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-bottom: 2px;
}

.all-time-line {
  display: flex;
  height: 6px;
  align-self: center;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.mute-icon {
  background-image: url("../assets/svg/mute.svg") !important;
}

.vol-controls {
  left: 164px;
  width: 200px;
  display: flex;
  justify-self: flex-start;
  align-items: stretch;
  z-index: 10;
  transition: width 0.5s;
  padding-bottom: 10px;
  gap: 8px;
}

.vol-mute {
  background-image: url("../assets/svg/volume.svg");
  background-repeat: no-repeat;
  justify-self: flex-start;
  min-width: 32px;
  height: 32px;
}

.vol-line {
  width: 160px;
  align-self: center;
  height: 6px;
}

.progress-style {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.progress-style::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px;
  margin-left: 0px;
  height: 16px;
  width: 10px;
  /* border: 0; */
  background: rgba(255, 255, 255);
  border-radius: 50%;
}

.progress-style::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  max-height: 5px;
  border-radius: 30px;
}

.progress-style:focus {
  outline: none;
}

.play-title {
  text-align: center;
  opacity: .8;
}

.play-time {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 8px;
}

.play-current-time {
  font-size: 0.8rem;
  opacity: .8;
}

.play-duration-time {
  font-size: 0.8rem;
  opacity: .8;
}

/* Weather */

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

/* Background slider*/

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}